<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<arg name="twist_topic_in" 				default="/control/smb_diff_drive/cmd_vel_unaugmented"/>
	<arg name="twist_topic_out" 				default="/control/smb_diff_drive/cmd_vel"/>
	<node pkg="smb_control" type="angular_twist_controller_node.py"
		name="angular_twist_controller_node" output="screen">
		<remap from="/twist_in" 				to="$(arg twist_topic_in)"/>
		<remap from="/twist_out" 				to="$(arg twist_topic_out)"/>
	</node>

</launch>
